@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600&family=Montserrat:wght@400;700&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

.modal {
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(242, 238, 255, 0.5);
  mix-blend-mode: normal;
}

.modal-content {
  background: #f2eeff;
  margin: 13% auto;
  padding: 1.67rem;
  border: 1px solid #f2eeff;
  width: 50%;
  height: 35rem;
}

.modal-content h2 {
  display: flex;
  justify-content: center;
  margin-top: 0;
  margin-bottom: 4rem;
  color: rgba(31, 30, 30, 0.85);
}

.modal-content label {
  display: block;
  margin-left: 23.64%;
  margin-bottom: 5px;
  color: rgba(93, 61, 219, 1);
}

.modal-content input[type="text"],
.modal-content textarea {
  width: 50%;
  padding: 1.33rem 2.67rem;
  margin: 2.13rem 22.24%;
  box-sizing: border-box;
  border: 1px solid #5d3ddb;
  border-radius: 1.5rem;
  background: #f2eeff;
}

.modal-content button[type="button"] {
  color: white;
  width: 18.06%;
  height: 2.85rem;
  border: none;
  cursor: pointer;
  margin-left: 1.33rem;
  background: #5d3ddb;
  box-shadow: 0px 0.27rem 0.27rem rgba(0, 0, 0, 0.25);
  border-radius: 1.17rem;
}

.modal-content button[type="button"]:hover {
  background-color: #492baf;
}

.modal-content button[type="button"]:last-child {
  background-color: #aaa;
  float: right;
}

.modal-content button[type="button"]:last-child:hover {
  background-color: #888;
}

.back {
  font-style: normal;
  font-weight: 700;
  font-size: 1rem;
  line-height: 1.25rem;
  text-align: center;
}

.title {
  margin: 3.67rem 0 3.96rem 0;
}

.row {
  display: flex;
  justify-content: center;
}

.player-estimate {
  margin: 8rem;
  font-style: normal;
  font-weight: 700;
  font-size: 0.87rem;
  line-height: 1.06rem;
  text-align: center;
  color: #5d3ddb;
}

.container .card-estimate {
  box-sizing: border-box;
  position: relative;
  width: 10.99%;
  height: 14.02rem;
  border: 1px solid #5d3ddb;
}
